* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #072649;
}

.navbar ul li a{
  color: #c3d6e0;
  text-decoration:none ;
  font-weight: 500;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #b6d4f1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.hero {
  min-height: 80vh;
  background: linear-gradient(to right, #6aadd1, #5facb2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 2rem 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                    url('e-learning.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn-primary {
  background: #113146;
  padding: 12px 30px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


footer {
  background: #042335;
  color: white;
  text-align: center;
  padding: 20px 0;
}
