*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  margin: 0;
  height: 100vh;
  background-image: url("log.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
    background: #0b3c49;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #9cc9f5;
}


.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}


.login-container {
  width: 350px;
  background: #aedaf8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #142744;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #0077b6;
}


.options {
  text-align: right;
  margin-top: 10px;
}

.forgot {
  font-size: 13px;
  color: #0077b6;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}


.btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #023e8a;
}


.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #0077b6;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

footer {
  background: #042335;
  color: white;
  text-align: center;
  padding: 20px 0;
}