body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

.course-container {
    width: 70%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.course-title {
    text-align: center;
    color: #333;
}

.course-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin: 15px 0;
}

.course-description {
    font-size: 16px;
    color: #0e202b;
}

.course-info p {
    margin: 6px 0;
    font-size: larger;
    color: #0f4c6e;
}


.course-syllabus {
    margin-top: 20px;
    font-family: Arial;
    font-size: larger;
    color: rgb(23, 59, 73);
}

.h3{
    color: darkred;
}

.course-syllabus ul {
    padding-left: 20px;
}

.course-buttons {
    margin-top: 25px;
    text-align: center;
}

.enroll-btn {
    padding: 10px 20px;
    background-color: #05172e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn {
    padding: 10px 20px;
    background-color: #12165c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.enroll-btn:hover {
    opacity: 0.9;
}

.next-btn {
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #310d69;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #e0f7e9;
    transition: 0.3s;
}

.next-btn:hover {
    background-color: #28a745;
    color: white;
}
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #0077b6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}
